<div>
  <p>该学生体温异常</p>
  <table>
    <tr>
      <th>姓名</th>
      <th>学号</th>
      <th>班级</th>
      <th>邮箱地址</th>
      <th>联系电话</th>
    </tr>
    <tr>
      <td>{{.User.Name}}</td>
      <td>{{.User.UID}}</td>
      <td>{{.User.ClassID}}</td>
      <td>{{.User.Email}}</td>
      {{ if .Rec }}
      <td>{{.Rec.Phone}}</td>
      {{ end }}
    </tr>
  </table>
  {{ if .Rec }}
  <p>本次异常打卡记录</p>
  <table>
    <tr>
      <th>体温正常</th>
      <th>接触过湖北人员</th>
      <th>有症状</th>
      <th>已确诊</th>
      <th>可疑病例</th>
      <th>接触过确诊病例</th>
      <th>打卡时间</th>
      <th>打卡地点</th>
    </tr>
    <tr>
      <td>{{.Rec.IsTemperatureOK}}</td>
      <td>{{.Rec.DidMeetHubei}}</td>
      <td>{{.Rec.HasSymptom}}</td>
      <td>{{.Rec.IsFamilyDiagnosed}}</td>
      <td>{{.Rec.IsFamilySuspected}}</td>
      <td>{{.Rec.DidMeetDiagnoses}}</td>
      <td>{{.Rec.Ctime}}</td>
      <td>{{.Rec.Location}}</td>
    </tr>
  </table>
  {{ end }}
  {{ if .Reason }}
  <p>异常原因</p>
  <p style="color: red;">{{.Reason}}</p>
  <br/>
  {{ end }}
  <p>请马上将其逮捕隔离！</p>
</div>